body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    display: contents;
    color: white;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.box {  
    width: 200px;
    height: 200px; 
    background: gold;
    border-top: 10px solid darkgoldenrod;
    border-radius: 10px;
}

.box:hover {
    box-shadow: 3px 3px 10px grey;
}  